@tailwind base;
@tailwind components;
@tailwind utilities;

.react-clock__face {
  border: 2px solid #ccc !important;
}

.react-clock__hand__body {
  border-radius: 20%;
  background-color: #ccc !important;
}
